html,body{
  overflow: hidden
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

.header {
  background-color: #3126d0;
  color: rgb(255, 255, 255);
  height: 70px;
}

a{
  list-style: none;
  font-size: 40px;
  float: right;
  padding: 10px 36px;
  color: rgb(255, 255, 255);
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.main {
  background: cyan;
  background-size: cover;
  height: 100vh;
}

#text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);  
  font-size: 8vw;
  text-align: center;
  line-height: 12vw;
  vertical-align: middle;  
  height: 30vw;
  width: 90%;
  font-weight: bold;
  background-color: rgb(253, 192, 243);
}

.next {
  float: left;
}

#correct {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right:10px;
  height: 15%;
  width: 30%;
  font-size: 4vw;
  background-color: rgb(235, 239, 4);
}

#pass {
  display: inline-block;
  cursor: pointer;
  position: absolute;  
  bottom: 10px;
  left:10px;
  height: 15%;
  width: 30%;
  font-size: 4vw;
  color: white;
  background-color: rgb(16, 0, 189);
}

#point{
  position: absolute;
  bottom: -9vw;
  left:50%;
  font-size: 8vw;
  font-weight: bold;
}

#default{
  position: absolute;
  top: 3vw;
  left:43%;
  font-size: 6vw;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  /* タブレット用スタイル */
  #text {
    font-size: 120px;
    line-height: 180px;
    height: 270px;
    width: 70%;
  }
  
  #correct {
    height: 10%;
    width: 20%;
    font-size: 50px;
  }
  
  #pass {
    height: 10%;
    width: 20%;
    font-size: 50px;
  }
  
  #point {
    bottom: -30px;
    font-size: 100px;
  }
  
  #default {
    top: 30px;
    font-size: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  /* パソコン用スタイル */
  #text {
    font-size: 150px;
    line-height: 220px;
    height: 300px;
    width: 60%;
  }
  



Regenerate response
