/* メタビューポートの設定と共通スタイル */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}
li {
  list-style: none;
}

/* ヘッダーのスタイル */
.header {
  background-color: #3126d0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.header-logo {
  font-size: 24px;
}
#toggleMenu {
  display: none;
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
#menu {
  display: flex;
  gap: 20px;
}
#menu a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

/* メインコンテンツのスタイル */
.main {
  background: cyan;
  height: calc(100vh - 70px); /* ヘッダーの高さを差し引く */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 上下の余白を均等に */
  align-items: center;
  padding: 20px; /* 左右の余白 */
}
#text {
  font-size: 10vw;
  text-align: center;
  font-weight: bold;
  background-color: rgb(253, 192, 243);
  padding: 20px;
  border-radius: 10px;
}
.button-container {
  display: flex;
  justify-content: space-between; /* ボタンを均等に配置 */
  width: 100%; /* コンテナ幅を最大に */
}
.next {
  font-size: 4vw;
  cursor: pointer;
  padding: 10px 20px;
}
#correct {
  background-color: rgb(235, 239, 4);
}
#pass {
  color: white;
  background-color: rgb(16, 0, 189);
}
#point {
  font-size: 8vw;
  font-weight: bold;
}
#default {
  font-size: 6vw;
  font-weight: bold;
}
/* メディアクエリ */
@media only screen and (min-width: 768px) {
  .header {
    padding: 15px 40px;
  }
  .header-logo {
    font-size: 30px;
  }
  #toggleMenu {
    display: block;
  }
  #menu {
    gap: 40px;
  }
  #text {
    font-size: 80px;
    padding: 40px;
    border-radius: 20px;
  }
  .next {
    font-size: 30px;
  }
  #point {
    font-size: 80px;
  }
  #default {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    padding: 20px 80px;
  }
  .header-logo {
    font-size: 36px;
  }
  #menu {
    gap: 60px;
  }
  #text {
    font-size: 120px;
    padding: 60px;
    border-radius: 30px;
  }
  .next {
    font-size: 40px;
  }
  #point {
    font-size: 100px;
  }
  #default {
    font-size: 80px;
  }
}
