html,body{
  overflow: hidden
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #3126d0;
  color: rgb(255, 255, 255);
  height: 70px;
}

li {
  list-style: none;
  float: left;
  padding: 40px 20px;
}


.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.main {
  height: 100pc;
  background: cyan;
}

#text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);  
  font-size:170px;
  text-align: center;
  vertical-align: middle;	
  height:300px;
  width: 90%;
  background-color: rgb(253, 192, 243);
}

#next {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right:10px;
  height: 15%;
  width: 25%;
  font-size: 350%;
  background-color: rgb(0, 120, 189);
}

#caution{
  position: absolute;
  bottom: 10px;
  left:10px;
  font-size: 20px;
  }
